
.ability {
    background-color: cornflowerblue;
    color: azure;
    border: solid 1px black;
    font-size: 10px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

    .ability p {
        margin: 0px;
        padding: 0px;
    }

.abilityScore {
    border: 2px solid azure;   
    font-size: 30px;    
}

.bonus {   
    border: 2px solid azure;
    color: forestgreen;
    font-size: 30px;
 
}

.abilityScoreSwitch-btn {
    position: sticky;
    bottom: 0px;
    z-index: 10;
}

.abilityScoresSelection {
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
}

.abilityScoresSelection:focus {
    outline: none;
}

.savingThrow {
    border: 2px solid goldenrod;
    font-size: 30px;
}

.card-ability-score {
    padding: 0px
}

.ability-score-header {
    padding: 5px 0px 0px 0px;
}

.scoreSelection {
    background-color: black;
}

.ability-score-button {
    margin: 5px 5px 0px 5px;
}

.ability-score-switchy-btn {
    margin: 20px 5px 20px 5px;
}