
#navigation {
    position: relative;
    background-color: yellow;
    height: 5vh;
}

#navigation-buttons { 
    position: fixed;   
    bottom: 0px;
    background-color: black;
    margin: 0 auto;
    left: 25%;
}

.btn-nav {
    margin: 0px;
}