
.selection {    
    width: 100%;
    height: 85vh;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    background-color:black;
}

.selectionButtons {
    background-color: black;
    color: white;
    border: 2px solid azure;
    font-size: 15px;
    margin: 0px;
    padding: 2px;
}

.selectionTitle {
    color: azure;
    background-color: black;
    position: fixed;
    z-index: 10;
}

.buttonSelected {
    background-color: mediumseagreen;
    color: black;
}
