
.selection {   
    height: 95vh;
    overflow: auto;  
    background-color:black;    
}

/*.selection h3 {
    color: white;
}*/

.selectionButtons {
    background-color: black;
    color: white;
    border: 2px solid azure;
    font-size: 15px;
    margin: 0px;
    padding: 2px;
}

.selectionTitle {
    color: azure;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index:10;    
}

.buttonSelected {
    background-color: mediumseagreen;
    color: black;
}

.searchBar {
    background-color: black;
    padding-right: 5px;
 }

.search-label {
    color:white;
}
.character-card {    
  padding:0px;
}

.choose {
    padding: 0px;
}

.color-white {
    color: white;
}

.spell-selection {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

.proficiency-selection {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}