
.creation {
    --main-bg-color: black;
    --main-max-width: 1000px;
    background-color: var(--main-bg-color);
    height: 85vh;
    max-width: var(--main-max-width);
    margin: 7vh auto;
    border-radius: 3px;
    box-shadow:0px 0px 20px 30px;
}

.info {
    background-color: var(--main-bg-color);
    min-height: 46vh;
    max-height: 46vh;
    overflow-y: auto;
    overflow-x: auto;  
}

.info h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: azure;
}

.info ul {
    list-style: none;
    padding: 0px;
    color: azure;
}

.info ul li {    
    color: azure;
    float: left;
    border-radius: 1px;
    font-size: 12px;
    margin: 0px;
    padding: 3px 0px;
}

.info-col-left {
    background-color: black;
    color: azure;
   
    margin: 0px;
    padding: 0px;
}
.info-col-right {
    background-color: black;
    color: azure;
    
    margin: 0px;
    padding: 0px;
}


.ability {
    background-color: cornflowerblue;
    color: azure;
    border: solid 1px black;
    font-size: 10px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

    .ability p {
        margin: 0px;
        padding: 0px;        
    }

.abilityScore {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    color: azure;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}

.bonus {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    color: forestgreen;
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

.abilityScoreSwitch-btn {
    position: sticky;
    bottom: 0px;
    z-index: 10;
}

.savingThrow {
    background-color: cornflowerblue;
    border: 2px solid goldenrod;    
    font-size: 40px;
    margin: 0px;
    padding: 0px;
 }

.characterTitle { /*Info.js*/
    min-height:40px;
}

.characterImage { /*need better handling for aspect ratios*/
    background-color: black;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 1px;
    float: right;
    height: 30vh;
    margin: 0px 0px 0px 10px;
    max-width: 100%;
}

.spell-btn {
   
  
}

.spells {
    background-color: white;
    border: 1px solid white;
    float: left;
}

.fire {
    color: orangered;
}
.holy {
    color: gold;
}
.necrotic {
    color: rebeccapurple;
}
.cold {
    color: cadetblue;
}
.acid {
    color: green;
}
.poison {
    color: lawngreen;
}
.lightning {
    color: lightgoldenrodyellow;        
}
.thunder {
    color: darkslategray;
}
.radiant {
    color: yellow;        
}

.selection {
    background-color: var(--main-bg-color);
    width: 100%;
    min-height: 28vh;
    max-height: 28vh;
    height: 28vh;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}
    
.selectionButtons {
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    margin: 0px; 
    padding: 0px;
   }

.selectionButtons:focus {
    outline: none;
}

.selectionTitle {
    margin: 0 auto;
    padding: 0px;
    top: 0px;
    height: 30px;
    font-size: 20px;
    background-color: mediumaquamarine;
}


.toggleNavigation {
  position:absolute;
  bottom: 100px;
  z-index: 10;
}


.btn-nav {
  margin: 2px; 
}

.navigation {
    background-color: var(--main-bg-color);
    bottom: 0px;
    height: 12vh;
    margin: 0px;
    max-width: var(--main-max-width);
    padding: 0px;
}

.buttonSelected {
    background-color:mediumseagreen;
    color:black;
}

.shiny {     
    box-shadow: 0px 0px 5px 1px yellow;
}

.shinyBlue {
    box-shadow: 0px 0px 5px 1px #7032ed;
}

.abilityScoresSelection {
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
}

.abilityScoresSelection:focus {
    outline: none;
}

.invalidScore {
    color: red;
}

.validScore {
    color: forestgreen;
}


#alert {
    position: absolute;
    width: inherit;
    max-width: var(--main-max-width);
    top: 40vh;
    z-index: 10;
    background-color: black;
    color: white;
}

.chooseProficiency {
    margin: 10px 0px;
    float:left;
}

.proficiencyInfo {
    background-color: green;
    margin: 0px;
    padding: 10px;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.proficiencies {
    margin: 0px 5px 0px 0px;
    padding: 0px;
}

.profNavSelected {
    color: azure;
    border-top: 2px solid azure;
    border-left: 2px solid azure;
    border-right: 2px solid azure;
}

.profNavSelected:focus {
    color: azure;   
}

.profNav {
    color: azure;
}

input[type=number] {
    width:100%;
    padding: 5px 5px;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.race-class {
    min-height: 30px;
}    
