
#creation {
    --main-bg-color: black;
    --main-color: azure;
    --main-max-width: 1000px;
    background-color: var(--main-bg-color);
    height: 100vh;
    max-width: var(--main-max-width);
    margin: auto;
    border-radius: 3px;
    box-shadow:0px 0px 20px 30px;   
}


.savingThrow {
    background-color: cornflowerblue;
    border: 2px solid goldenrod;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

.info-savingThrows {
    font-size:12px;
    height:auto;
   
}
.info-savingThrows li {
  float:left;  
  height:18px;
}

.characterTitle { /*Info.js*/
    min-height:40px;
}

.characterImage { /*need better handling for aspect ratios*/
    background-color: black;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 1px;
    float: right;
    height: 30vh;
    margin: 0px 0px 0px 10px;
    max-width: 100%;
}

.spell-btn {   
  
}

.spells {
    background-color: var(--main-bg-color);
    border: 1px solid white;
    float: left;
}

.fire {
    color: orangered;
}
.holy {
    color: gold;
}
.necrotic {
    color: rebeccapurple;
}
.cold {
    color: cadetblue;
}
.acid {
    color: green;
}
.poison {
    color: lawngreen;
}
.lightning {
    color: lightgoldenrodyellow;        
}
.thunder {
    color: darkslategray;
}
.radiant {
    color: yellow;        
}

.shiny {     
    box-shadow: 0px 0px 5px 1px yellow;
}

.shinyBlue {
    box-shadow: 0px 0px 5px 1px #7032ed;
}


.invalidScore {
    color: red;
}

.validScore {
    color: forestgreen;
}


#alert {
    position: absolute;
    width: inherit;
    max-width: var(--main-max-width);
    top: 40vh;
    z-index: 10;
    background-color: black;
    color: white;
}

.proficiencies {
    margin: 0px 5px 0px 0px;
    padding: 0px;
}

/*.profNavSelected {
    color: black;
    background-color: azure;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.profNavSelected:focus {
    color: black;   
}

.profNav {
    color: azure;
    background-color: black;
}*/

input[type=number] {
    width:100%;
    padding: 5px 5px;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.race-class {
    min-height: 30px;
}    


.info-modal {
   margin:0px;
   padding:0px;
}